@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 300;
	src: url('~assets/fonts/Quicksand/Quicksand-Light.ttf');
	src: url('~assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 400;
	src: url('~assets/fonts/Quicksand/Quicksand-Regular.ttf');
	src: url('~assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	src: url('~assets/fonts/Quicksand/Quicksand-Medium.ttf');
	src: url('~assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 600;
	src: url('~assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
	src: url('~assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 700;
	src: url('~assets/fonts/Quicksand/Quicksand-Bold.ttf');
	src: url('~assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}