// make sure not to sure it with nested selectors
@mixin addSpecificity {
  &#{&} {
    @content;
  }
}

@mixin gradientText($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin fontSize($value) {
  font-size: $value;
  font-size: px-to-rem($value);
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin xyFlexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stackingContext {
  opacity: 0.99;
}

@mixin respondTo($name) {
  @if (map-has-key($breakpoints, $name)) {
    @media (min-width: #{inspect(map-get($breakpoints, $name))}) {
      @content;
    }
  } @else {
    @warn ('invalid breakpoint name');
  }
}
