:root {
  --color-blue: #0041a0;
  --color-light-blue: #92d0ee;
  --color-yellow: #febf3d;
  --color-red: #8e0033;
  --color-dark-grey: #262626;
  --color-white: #ffffff;
  --color-faq-question: #f0810f;
}

$blue: var(--color-blue);
$light-blue: var(--color-light-blue);
$yellow: var(--color-yellow);
$red: var(--color-red);
$dark-grey: var(--color-dark-grey);
$white: var(--color-white);
$faqQuestion: var(--color-faq-question);

$gradient1: linear-gradient(90deg, #0041a0 0%, #007fbf 100%);
$gradient2: linear-gradient(90deg, #8bc6e3 0%, #007fbf 100%);
$gradient3: linear-gradient(180deg, #8e0033 0%, #bf0020 100%);
$gradient4: linear-gradient(180deg, #febf3d 0%, #fff499 100%);
$gradient5: linear-gradient(
  290deg,
  rgba(0, 152, 205, 0.7) 24.01%,
  rgba(0, 127, 191, 0.7) 33.2%,
  rgba(0, 98, 186, 0.7) 36.56%,
  rgba(0, 65, 160, 0.7) 38.81%,
  rgba(185, 0, 211, 0.49) 44.15%,
  rgba(149, 0, 175, 0.7) 46.4%,
  rgba(137, 0, 170, 0.7) 48.98%,
  rgba(102, 0, 95, 0.7) 51.16%,
  rgba(115, 0, 124, 0.7) 53.93%,
  rgba(155, 0, 48, 0.7) 56.88%,
  rgba(142, 0, 51, 0.7) 59.38%,
  rgba(163, 5, 35, 0.7) 62.29%,
  rgba(191, 0, 32, 0.7) 64.95%,
  rgba(226, 0, 33, 0.7) 68.43%,
  rgba(249, 0, 0, 0.7) 71.23%,
  rgba(233, 93, 23, 0.7) 74.98%,
  rgba(238, 116, 52, 0.7) 78.47%,
  rgba(242, 142, 0, 0.7) 83.27%,
  rgba(249, 175, 0, 0.7) 86.22%,
  rgba(254, 184, 38, 0.7) 89.29%
);
$gradient6: linear-gradient(
  90deg,
  #8bc6e3 0%,
  rgba(189, 216, 230, 0.12) 0.01%,
  rgba(139, 198, 227, 0) 100%
);
$gradient7: linear-gradient(
  297.17deg,
  rgba(0, 152, 205, 0.7) -50.51%,
  rgba(0, 127, 191, 0.7) -26.96%,
  rgba(0, 98, 186, 0.7) -18.37%,
  rgba(0, 65, 160, 0.7) -8.6%,
  rgba(185, 0, 211, 0.7) 1.07%,
  rgba(149, 0, 175, 0.7) 6.85%,
  rgba(137, 0, 170, 0.7) 13.45%,
  rgba(102, 0, 95, 0.7) 19.05%,
  rgba(115, 0, 124, 0.7) 26.14%,
  rgba(155, 0, 48, 0.7) 33.69%,
  rgba(142, 0, 51, 0.7) 40.09%,
  rgba(163, 5, 35, 0.7) 47.54%,
  rgba(191, 0, 32, 0.7) 54.36%,
  rgba(226, 0, 33, 0.7) 63.28%,
  rgba(249, 0, 0, 0.7) 70.43%,
  rgba(233, 93, 23, 0.7) 80.04%,
  rgba(238, 116, 52, 0.7) 88.98%,
  rgba(242, 142, 0, 0.7) 101.27%,
  rgba(249, 175, 0, 0.7) 108.82%,
  rgba(254, 184, 38, 0.7) 116.71%
);
$gradientCTA: linear-gradient(
  80.45deg,
  rgba(185, 0, 211, 0.8) -104.27%,
  rgba(0, 65, 160, 0.8) 60.74%,
  rgba(0, 65, 160, 0.8) 84.34%
);
$gradientForm: linear-gradient(180deg, #8e0033 0%, #bf0020 100%);

$inputBoxShadow: 0px 2px 4px 0px #7373733d;
$divier-border: 1px solid rgba(#262626, 0.2);
$divier-border-faq: 1px solid #3a2a2a;
$border-opportunities: 1px solid #262626;
$sidePadding: 16px;

// standard bootstrap breakpoints
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);
